Source: pypdf2
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Section: python
Priority: optional
Uploaders:
 Daniel Kahn Gillmor <dkg@fifthhorseman.net>,
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 flit,
 pybuild-plugin-pyproject,
 python3-all,
 python3-pil <!nocheck>,
 python3-pytest <!nocheck>,
 python3-pytest-cov <!nocheck>,
Standards-Version: 4.6.2
Homepage: https://pypdf2.readthedocs.io/en/latest/
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/debian/pypdf.git -b debian/pypdf2/unstable
Vcs-Browser: https://salsa.debian.org/debian/pypdf

Package: python3-pypdf2
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Pure-Python library built as a PDF toolkit (Python 3)
 A Pure-Python library built as a PDF toolkit.  It is capable of:
   - extracting document information (title, author, ...),
   - splitting documents page by page,
   - merging documents page by page,
   - cropping pages,
   - merging multiple pages into a single page,
   - encrypting and decrypting PDF files.
 .
 By being Pure-Python, it should run on any Python platform without any
 dependencies on external libraries.  It can also work entirely on StringIO
 objects rather than file streams, allowing for PDF manipulation in memory.
 It is therefore a useful tool for websites that manage or manipulate PDFs.
 .
 This is the Python 3 version of the package.
